<style>
  .my_active {
    background-color: #e9ecef;
  }

  .my_active a {
    color: #000;
  }
</style>

<nav class="row navbar navbar-expand navbar-light bg-light mt-3 justify-content-between">
  <%= link_to "RecipePlug", root_path, class: "col-auto navbar-brand " %>

  <div class="col-auto" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item <%= current_page?(public_recipes_recipes_path) || current_page?(root_path) ? "my_active" : "" %>">
          <%= link_to "Public Recipes", public_recipes_recipes_path, class: "nav-link" %>
        </li>

        <li class="nav-item <%= current_page?(recipes_path) ? "my_active" : "" %>">
          <%= link_to "My Recipes", recipes_path, class: "nav-link" %>
        </li>
        
        <li class="nav-item <%= current_page?(foods_path) ? "my_active" : "" %>">
          <%= link_to "My Foods", foods_path, class: "nav-link" %>
        </li>

        <% if current_page?(recipes_path) || current_page?(public_recipes_recipes_path) || current_page?(root_path) %>
          <li class="nav-item">
            <%= link_to "Add Recipe", new_recipe_path, class: "nav-link" %>
          </li>
        <% end %>
        
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>




